.jumbo{
    position: relative;
    top: 20px;
}

.txtjumbo{
    font-size:   2em;
	color:white;
    text-shadow: black 3px 2px 2px;
}
.txtjumbo2{
    text-shadow: black 3px 2px 2px;
}
.text2 {
    text-decoration: none;
    color: white;
    padding: 10px;
    text-shadow: black 1px 1px 1px;
    
}

.text2{
	color:white;
	transition: all 0.5s;
	position: relative;
}
.text2:hover{
    color:white;
}
.text2::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
    color:white;
	transition: all 0.3s;
}
.text2:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.text2::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.text2:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.clanky{
    padding-left: 47px
}
.tr td {
    border-color: black;
}


#myBtn {
    
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;  
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #970601;
